# Build and Release Folders
bin/
bin-debug/
bin-release/
obj/

# Compiled Files
*.zxp
example/*.swf

# Other files and folders
.settings/
*.as3proj
version.as
test.swf
*.bat
*.png
example/*.scml
RECOVER_*.fla
__DELETE_*.fla
baby.fla

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.