# Build and Release Folders
bin/
bin-debug/
bin-release/
obj/

# Other files and folders
.settings/
*.as3proj
version.as
test.swf
*.bat
example/*.png
example/*.scml
example/*.swf

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.